@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h4 {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'Zen Dots', cursive;
}

#homepage {
    background-attachment: fixed;
}

#crud {
    padding-top: 10px;
    padding-bottom: 30px;
}

#slogan {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
}

#photo {
    width: 8rem;
}

#crud {
    padding-bottom: 100px;
}

#tick, #email {
    text-decoration: none;
}

#socials {
    text-decoration: none;
    padding: 6px
}

@media screen and (min-width:300px) {
    body {
    width: 100%;
    }
}

.waviy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 100px;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }