@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Dots', cursive;
}

#socials {
    text-decoration: none;
    padding: 6px
}

@media screen and (min-width:300px) {
    body {
    width: 100%;
    }
}