*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#socials {
    text-decoration: none;
    padding: 7px
}

@media screen and (min-width:300px) {
    body {
    width: 100%;
    }
}